# Data Science Tools and Ecosystem

In this notebook, we provide a summary of the Data Science Tools and Ecosystem.

**Objectives:**
- Popular laguages in Data Science
- Common Libraries in Data Science
- Some Python expression

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matplotlib

| Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|IBM Waston Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
minutes =200
hours = minutes/60
hours

3.3333333333333335

## Author
Kihoon Kim